body{background-image: url(/picture/peakpx.jpg);
background-size: cover;}
.myname3{padding-left:44%;
    padding-top:4%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: maroon;}
.myname2{padding-top: 4.5%;
    margin-left: 35%;
color: black;
font-weight: bold;}
.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0,0,0,0.5);
    color: darkred;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .tm-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(158, 11, 11);    
    padding-bottom: 30px;    
}

.nav-item { margin-right: 60px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: rgb(4, 5, 5);
}
#contain{border: 2px solid white;width: 106%;margin-left: -6%;margin-top: 3%;height:80%;margin-bottom: -4%;background-color: wheat;}

.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;

  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }

   
